<div class="toolbar flex">

  <div class="flex items-center justify-start md:hidden">
    <button type="button" mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="logo-contrast hidden md:flex items-center justify-start" *ngIf="sidenavCollapsed">
    <img class="logo" alt="logo" src="assets/img/logo_dark2x.png">
  </div>

  <div class="flex flex-1 items-stretch justify-end md:justify-between">
    <div class="search-bar hidden md:flex items-center justify-start md:basis-[500px] md:flex-none">
    </div>

    <div class="flex md:ml-6">

      <elastic-toolbar-user-button></elastic-toolbar-user-button>

    </div>
  </div>
</div>

