<div class="character">

  <elastic-page-header background="url(/assets/img/demo/headers/pattern-3.png)"
                       [height]="'180px'"
                       [reverse]="true">
  </elastic-page-header>

  <div class="container">

    <div class="flex items-center justify-between">

      <elastic-breadcrumbs [currentPage]="'Characters'"
                           [header]="'primary'">
      </elastic-breadcrumbs>

      <div class="actions flex items-center justify-end gap-6">
        <div class="flex gap-2.5">
          <button mat-mini-fab
                  color="primary"
                  (click)="previous()"
                  aria-label="Example icon button with a menu icon">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <button mat-mini-fab
                  color="primary"
                  (click)="next()"
                  aria-label="Example icon button with a menu icon">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
        <mat-form-field>
          <mat-select class="filter"
                      [ngModel]="filter"
                      (selectionChange)="onFilter($event)">
            <mat-option value="all">All</mat-option>
            <mat-option value="human">Human</mat-option>
            <mat-option value="robot">Robot</mat-option>
            <mat-option value="alien">Alien</mat-option>
            <mat-option value="centaur">Centaur</mat-option>
            <mat-option value="mythological creature">Mythological Creature</mat-option>
            <mat-option value="cronenberg">Cronenberg</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="projects-container grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">

      <div class="project mat-elevation-z4"
           *ngFor="let project of items | async">

        <div class="header" style="background-image: url({{project.image}})">
          <div class="content">
            <div class="flex flex-col flex-1">
              <div class="top-row flex items-center justify-between">
                <div>{{project.created | date:'MMM d, y'}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="details">
          <div class="content">
            <div class="name">{{ project.name }}</div>
            <div class="divider"></div>
            <div class="status success">{{project.species}}</div>
          </div>
        </div>

        <div class="overlay">
          <div class="overlay-content flex flex-col justify-between">
            <div class="overlay-actions flex gap-4">
            </div>
            <button [routerLink]="['/character-details', project.id]" type="button" mat-raised-button>View Character
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
