<div class="toolbar flex">

  <div class="sidenav-header flex items-center justify-start flex-1 md:basis-[270px] md:flex-none">
    <button class="menu-toggle" type="button" mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>

    <img class="logo hidden md:block" alt="logo" src="assets/img/logo2x.png">
  </div>

  <div class="flex flex-1 items-stretch justify-end md:justify-between">

    <div class="search-bar hidden md:flex items-center justify-start md:basis-[500px] md:flex-none">
    </div>

    <div class="flex md:ml-6">

      <elastic-toolbar-user-button></elastic-toolbar-user-button>

    </div>
  </div>

</div>

