<div class="toolbar" id="header">

  <div class="container flex justify-between">

    <div class="sidenav-header flex items-center justify-start">
      <button class="menu-toggle-mobile md:hidden" type="button" mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>

      <a class="hidden sm:block" [routerLink]="['/']">
        <img class="logo" alt="logo" src="assets/img/logo2x.png">
      </a>
    </div>

    <div class="search-bar hidden md:flex items-center justify-start md:basis-[450px] md:flex-none md:ml-9">
    </div>

    <div class="flex md:ml-6">

      <elastic-toolbar-user-button></elastic-toolbar-user-button>

    </div>
  </div>
</div>

