<div class="episode-details">

  <elastic-page-header
    [height]="'180px'"
    background="url(/assets/img/demo/headers/pattern-3.png)"
    [reverse]="true">
  </elastic-page-header>

  <div class="container">

    <elastic-breadcrumbs
      [currentPage]="'Episode Details'"
      [names]="['Characters', 'Character Details']"
      [header]="'primary'">
    </elastic-breadcrumbs>

    <div class="flex flex-col gap-4 md:gap-6">
      <div class="splash"
           class="flex flex-col md:flex-row">

        <div class="right flex flex-col flex-1 md:justify-between">
          <div class="splash-title">Episode Information</div>

          <div class="details"
               class="flex flex-col md:flex-row gap-4">

            <div class="detail">
              <div class="name">ID</div>
              <div class="value">{{ (episode | async)?.id }}</div>
            </div>

            <div class="detail">
              <div class="name">Name</div>
              <div class="value">{{ (episode | async)?.name }}</div>
            </div>

            <div class="detail">
              <div class="name">Air Date</div>
              <div class="value">{{ (episode | async)?.air_date }}</div>
            </div>

            <div class="detail">
              <div class="name">Episode</div>
              <div class="value">{{ (episode | async)?.episode }}</div>
            </div>

            <div class="detail">
              <div class="name">Created</div>
              <div class="value">{{ (episode | async)?.created | date: 'MMM d, y' }}</div>
            </div>

          </div>

          <div class="divider reverse"></div>

          <div class="right-bottom">
            <div class="description-title">Characters</div>
            <div class="description">

              <div class="detail">
                <div class="value">
                  <mat-chip-set>
                    <mat-chip *ngFor="let item of (episode | async)?.characters; let i = index;"
                              [routerLink]="['/character-details', i + 1]"
                              style="width: 120px; cursor: pointer;">
                      {{ 'Character ' + (i + 1) }}
                    </mat-chip>
                  </mat-chip-set>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
