<a [routerLink]="item.route" routerLinkActive="active"
   class="dropdown-item" *ngIf="!item.hasSubItems()"
   class="flex items-center justify-between" matRipple>
  <span class="name">{{ item.name }}</span>
  <span class="flex-1"></span>
  <div class="letter-icon">{{ item.generateLetterIcon() }}</div>
</a>

<a class="dropdown-item" *ngIf="item.hasSubItems()" (click)="toggleDropdown(item)"
   class="flex items-center justify-between" matRipple>
  <span class="name">{{ item.name }}</span>
  <span class="flex-1"></span>
  <mat-icon *ngIf="item.hasSubItems()" class="dropdown-indicator" [class.rotate]="isOpen(item)">expand_more</mat-icon>
  <div class="letter-icon">{{ item.generateLetterIcon() }}</div>
</a>

<div class="sub-menu" [style.height]="getSubMenuHeight()">
  <elastic-toolbar-navigation-dropdown-item
    class="dropdown-item-container" *ngFor="let subItem of item.subItems" [item]="subItem" [currentlyOpen]="currentlyOpen"></elastic-toolbar-navigation-dropdown-item>
</div>
