<div class="settings">
  <div id="settings-layouts" class="flex flex-col items-start justify-start">
    <mat-radio-group class="layout-radio-group flex flex-col gap-6" (change)="setLayout($event)">
      <mat-radio-button value="alpha">
        <img class="layout-option-image" src="assets/img/demo/settings/layout_alpha.png">
      </mat-radio-button>
      <mat-radio-button value="beta">
        <img class="layout-option-image" src="assets/img/demo/settings/layout_beta.png">
      </mat-radio-button>
      <mat-radio-button value="gamma">
        <img class="layout-option-image" src="assets/img/demo/settings/layout_gamma.png">
      </mat-radio-button>
    </mat-radio-group>
  </div>
</div>
